{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended"
  ],
  "plugins": [],
  "rules": {},
  "ignorePatterns": [
    "*.json",
    "*.md"
  ]
}
